@font-face {
    font-family: "metamorphous";
    src: 
        url(../fonts/metamorphous-regular-webfont.woff) format("woff"),
        url(../fonts/metamorphous-regular-webfont.woff2) format("woff2");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: green;
}

.header {
    background-color: aqua;
}

.content {
    background-color: rgb(21, 5, 94);
}