@font-face {
    font-family: "metamorphous";
    src: 
        url(../fonts/metamorphous-regular-webfont.woff) format("woff"),
        url(../fonts/metamorphous-regular-webfont.woff2) format("woff2");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #3366ff;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 2rem;
    color: white;
}

.dashboard {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 1rem;
}

.dashboard span {
    font-size: 1.5rem;
}

.header {
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: min-content auto;
    padding: 1rem;
    gap: 1rem;
}

.search {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 1rem;
}

.notifications {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgb(21, 5, 94);
}
li {
    list-style: none;
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
li img,.header img:not(.profile), .main-content img{
    height: 25px;
}

.profile {
    height: 35px;
    border-radius: 35px;
}

.welcome-profile {
    display: flex;  
    align-items: center;
    gap: 1rem;
}

.welcome-profile p:first-child {
    font-size: 0.7rem;
}

.welcome-profile p:last-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.large {
    height: 50px;
    border-radius: 25px;
}

input {
    background-color: #deddd9;
    border: 1px solid #deddd9;
    border-radius: 1rem;
    outline: none;
}

.upload {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
}

.upload button {
    color: white;
    height: 2rem;
    width: 6rem;
    background-color: #3366ff;
    border: 1px solid #3366ff;
    outline: none;
    border-radius: 1rem;
    place-content: center;
}

.content {
    background-color: #deddd9;
    display: grid;
    padding: 1rem;
    gap: 0.1rem 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
}

.content h1 {
    font-size: 1rem;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.main-content h2 {
    font-size: 0.85rem;
}

.main-content p {
    font-size: 0.75rem;
}

.main-content > div {
    background-color: white;
    outline: none;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: inset 0.5rem 0rem orange;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: 0.5rem;
}

.main-content > div > div {
    justify-self: end;
}