@font-face {
    font-family: "metamorphous";
    src: 
        url(../fonts/metamorphous-regular-webfont.woff) format("woff"),
        url(../fonts/metamorphous-regular-webfont.woff2) format("woff2");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #3366ff;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 2rem;
}

.dashboard {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 1rem;
}

.dashboard span {
    font-size: 1.5rem;
}

.header {
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: min-content auto;
    padding: 1rem;
}

.search {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 1rem;
}

.content {
    background-color: rgb(21, 5, 94);
}
li {
    list-style: none;
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
li img,.header img {
    height: 25px;
}

input {
    background-color: #deddd9;
    border: 1px solid #deddd9;
    border-radius: 1rem;
    outline: none;
}